.mainContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px); /* Adjust this value based on your header height */
  overflow: hidden;
}

.mapTitle {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.mapContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
}